<a href="https://colab.research.google.com/github/samhita13/Python101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

Data Type
List Type

In [2]:
#@title 1.Creating an empty list
fruits=[]
print(fruits)

[]

In [3]:
#@title 2.Creating a list with some elements
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
print(fruits)

['apple', 'orange', 'banana', 'grapes', 'stawberry', 'watermelon']

In [8]:
#@title 3.Adding elements at the end
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
tropical_fruits=["pineapple","pomegranet","guava"]
fruits.extend(tropical_fruits)
print(fruits)

['apple', 'orange', 'banana', 'grapes', 'stawberry', 'watermelon', 'pineapple', 'pomegranet', 'guava']

In [10]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
print(fruits[3])

grapes

In [11]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
print(fruits[-2])

stawberry

In [13]:
#@title 6.Adding an element at the front of the list
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
fruits.insert(0,"blueberry")
print(fruits)

['blueberry', 'apple', 'orange', 'banana', 'grapes', 'stawberry', 'watermelon']

In [14]:
#@title 7.Adding an element anywhere (at a specific index) 
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
fruits.insert(3,"blueberry")
print(fruits)

['apple', 'orange', 'banana', 'blueberry', 'grapes', 'stawberry', 'watermelon']

In [15]:
#@title 8.Updating (or Replacing) an element
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'banana', 'grapes', 'stawberry', 'watermelon']

In [19]:
#@title 9.Looping through the list (just for READING)
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
print(fruits)
for x in fruits:
  print(x)

['apple', 'orange', 'banana', 'grapes', 'stawberry', 'watermelon']
apple
orange
banana
grapes
stawberry
watermelon

In [1]:
#@title 10.Looping through the list (for UPDATING)
fruits=["apple","orange", "banana","grapes","stawberry","watermelon"]
print(fruits)
count = len(fruits)
for x in range(count):
  fruits[x] = "new-"+fruits[x]
print(fruits)

['apple', 'orange', 'banana', 'grapes', 'stawberry', 'watermelon']
['new-apple', 'new-orange', 'new-banana', 'new-grapes', 'new-stawberry', 'new-watermelon']

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

In [ ]:
#@title 14.Removing an element by value

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists